<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="kr.co.manty.feeds.ui.category"
            name="Feeds">
      </category>
      <wizard
            category="kr.co.manty.feeds.ui.category"
            class="kr.co.manty.NewFeedWizard"
            icon="icons/full/etool16/newfeed_wiz.gif"
            id="kr.co.manty.NewFeedWizard"
            name="New Feed">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="kr.co.manty.FeedContentProvider"
            id="kr.co.manty.feedNavigatorContent"
            labelProvider="kr.co.manty.FeedLabelProvider"
            name="Feed Navigator Content">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.extension"
                     value="feeds">
               </test>
            </and></triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="kr.co.manty.Feed">
               </instanceof>
            </or>
         </possibleChildren></navigatorContent>
   </extension>

</plugin>
